@import '../custom';
@import './component';

$mt : 60px;

body{
	width: 100%;
	overflow-x: hidden;
}

header{
	position:relative;
	font-size: 18px;

	.section__rule{
		padding: 20px 0px;
		display: flex;
		justify-content: space-between;
		position: relative;
		z-index: 99;
		align-items:center;
	}

	.logo{
		svg{
			height: 50px;
			margin-left: auto;
			margin-right: auto;
			display: flex;
			@include responsivemd{
				height: 30px;
			}
		}
		display: flex;
		align-items:center;
		h1{
			margin-bottom: 0;
			color: $primary-color;
			font-size: 30px;
			margin-left: 12px;
			@include responsivemd{
				font-size: 20px;
			}
		}
		
	}
	
	button{
		@include button;
		background-color:#fff;
		
		color: $dark;
		img{
			height: 30px;
			width: auto;
			vertical-align: middle;
			margin-right: 10px;
			@include responsivemd{
				display: none;
			}
		}
		&:hover{
			img{
				animation-name: shakeX;
			}
		}
	}

	.svg--bg{
		position: absolute;
		@include responsivemd{
			display: none;
		}
	} 
	.svg--lg{
		height: 980px;
		min-height: 500px;
		top: calc(-900px / 3.5);
		right: calc(-900px / 2.5);
		width: auto;
		@include responsivemmd{
			height: 500px;
		}
	}
	.svg--small{
		height: 160px;
		width: auto;
		top: -60px;
		left: -60px;
		circle{
			fill:$secondary-color;
		}
	}
}


